# Executables
*.exe
*.out
*.app
.gitignore
client
server
tester
webserv

# Objects
*.o
*.obj

# Text Editor
.idea/
build/
.vscode/

# Debugging
*.dSYM/
debug
log
tester.cpp

# other
.DS_Store
tester.cpp
